
//--FONTS
$font-body: 'Roboto', sans-serif;
$font-headings: 'Roboto', sans-serif;

//BODY
$color-body: #c4c4e2;
$bgcolor-body: #171652;

//CUSTOM COLORS
$color-blue: #292467;
$color-lighterblue: #474283;
$color-darkblue: #171652;
$color-purple: #bf62f9;
$color-darkerpurple: #7332e4;
$color-lightgreen: #8cbb62;

//CUSTOM GRADIENTS BACKGROUNDS
.gradient-purple{
	background-color: #cd6afb !important;
	background: linear-gradient(60deg, #cd6afb 0%, #624eeb 100%) !important;
}





