
//--FONTS
$font-body: 'Roboto', sans-serif;
$font-headings: 'Roboto', sans-serif;

//BODY
$color-body: #44484a;
$bgcolor-body: #ffffff;

//CUSTOM COLORS
$color-blue: #5160eb;
$color-darkblue: #0d3567;
$color-lightblue: #83cbf8;
$color-lighterblue: #f1f8fa;
$color-lightgray: #f6f9fa;
$color-darkgray: #5c5c5c;
$color-lightgreen: #30e391;

//CUSTOM GRADIENTS BACKGROUNDS
.gradient-blue{
	background-color: #4352e0 !important;
	background: linear-gradient(60deg, #4352e0 0%, #6876fd 100%) !important;
}





